body{
    background-color: #73ac00;
}
.imagemCopa{
    overflow: hidden;
}
.form{
    width: 400px;
    margin: auto;
    padding-top: 45px;
}
.card{
    box-shadow: 1px 1px 5px #cecece;
    background-color: white;
    padding: 30px;
    border-radius: 5px;

}
.card-top{
    text-align: center;
}
.card-group > label{
    width: 100%;
    color:rgb(75,75,75);
}
.imagem{
    border-radius: 10px;
    width: 10vw;
}
.title{
    color: red;
}


