<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="icon" href="/img/favicon.png" />
    <link href="/css/usuarioAdicionar.css" rel="stylesheet" type="text/css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <title>Cadastro</title>
</head>
<body>
<a id="link-nav" class="nav_link" href="/grupo/"><img id="img-nav" src="/img/Home.png"></a>
<form class="form" th:object="${usuario}" method="post">
    <div class="card">
        <div class="card-top">
            <img id="imagemcopa" class="imagem" src="https://s2.glbimg.com/EIhBsr1HfP0Jhrjr3Pevt_OTmYU=/0x0:1600x900/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/B/6/B3nXAkQMiEqwvlr77hlg/whatsapp-image-2022-04-01-at-13.35.35.jpeg" alt="">
            <h2 class="title">Cadastrar novo usuário</h2>
            <p>Insira com os dados solicitados</p>
        </div>
        <div class="card-group">
            <label>Usuário</label>
            <input type="text" th:field="*{login}" alt="Coloque o usuário"/>
        </div>
        <div class="card-group">
            <label>Senha</label>
            <input type="text" th:field="*{senha}" alt="Coloque a senha"/>
        </div>

        <div class="card-group">
            Selecione o tipo de usuário:
            <select name="admin"  >
                <option value="false">Comum</option>
                <option value="true">Admin</option>
            </select>
        </div>
        <br>
        <div class="card-group">
            <button  type="Cadastrar">Cadastrar</button>
        </div>
    </div>

</form>
</body>
</html>