<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de times</title>
    <link rel="icon" href="/img/favicon.png" />
    <link href="/css/indexTime.css" rel="stylesheet" type="text/css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
<a id="link-nav" class="nav_link" href="/grupo/"><img id="img-nav" src="/img/Home.png"></a>
<div class="container">
    <div class="dados-do-time">
        <img id="imagem" th:src="'/img/times/'+${time.getImagem()}">
        <p th:text="${time.getNome()}"> </p>
        <a th:if="${time.getJogadores().size()< 11} " th:href="@{/jogador/adicionar/{timeId}(timeId=${time.getId()})}">Adicionar Jogador</a>

    </div>

    <div id="div-jogadores">
        <div class="jogador" th:each="jogador : ${time.getJogadores()}">
            <span>
                <span th:text="${jogador.getPosicao()}+' - '"></span>
                <span th:text="${jogador.getNome()}+' - '"></span>
                <span th:text="${jogador.getIdade()}+' anos |  '"></span>

                <a th:href="@{/time/removerJogador/{id}(id=${jogador.getId()})}">Remover Jogador</a>
            </span>

        </div>
    </div>
</div>
</body>
</html>