<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar jogadores</title>
    <link rel="icon" href="/img/favicon.png" />
    <link href="/css/adicionarJogador.css" rel="stylesheet" type="text/css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
<a id="link-nav" class="nav_link" href="/grupo/"><img id="img-nav" src="/img/Home.png"></a>

    <section>

        <div class="card">
            <h2>Adicionar Jogador</h2>
            <img class="imagem"
                 src="https://images.rr.sapo.pt/futebol_geral_liga_bola_relvado_foto_liga_portugal938958acdefaultlarge_1024.jpg"
                 alt="">
                <div class="container">
                    <span th:if="${error}" ><p th:text="${error}"></p></span>
                    <form th:object="${jogador}" method="post" enctype="multipart/form-data">
                        <p>Nome: <input id="input_nome" type="text" th:field="*{nome}" /></p>
                        <p>Idade: <input id="input_idade" type="number" th:field="*{idade}" /></p>
                        <p>Posicao:
                            <select th:field="*{posicao}" >
                                <option th:each="posicao : ${posicoes}"
                                        th:text="${posicao}"
                                        th:value="${posicao}">
                                </option>
                            </select>
                        </p>
                        <p><input id="button_jogador" type="submit" value="Adicionar" /></p>
                    </form>
                </div>
        </div>
    </section>
</body>
</html>