<!DOCTYPE html>
<html lang="pt-br">
<head th:fragment="logout">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link href="/css/global.css">
    <title>Tabela Copa do Mundo 2022</title>
    <link href="/css/groups.css" rel="stylesheet" type="text/css">
</head>
<body>
<span id="topo"></span>

<main class="tela-principal">

    <a class="nav_link" href="/logout">Logout</a>
    <header>
        <h1>Tabela da Copa do Mundo</h1>
        <h2>Catar 2022</h2>
    </header>

    <div class="container_button">
        <div class="botoes">
            <a th:if="${grupos.size()}" th:href="@{/grupo/zerar}" type="button" value="Click me" onclick="" id="zerar">Zerar</a>
            <a th:if="!${grupos.size()}" th:href="@{/grupo/gerar}" type="button" value="Click me" onclick="" id="gerarTime">Gerar Grupos</a>
            <!-- <button type="button"  value="Click me" onclick id="cadastrarTime">Cadastrar Times</button> -->
            <!-- <button type="button"  value="Click me" onclick id="cadastrarJogador">Cadastrar Jogadores</button> -->
        </div>
    </div>
    <!-- preenchida pelo js  -->
    <section class="listas"></section>

    <div id="div-grupos">
        <div class="grupo" th:each="grupo : ${grupos}">
            <p id="grupoisolado" th:text="${grupo.getNome()}"></p>
            <span  th:if="${grupo.getTimes() != null} " t>
                <a class="adicionar" th:if="${grupo.getTimes().size()< 4} " th:href="@{/time/adicionar/{grupoId}(grupoId=${grupo.getId()})}" >Adicionar time</a>
            </span>
            <hr>
            <div>
                <div th:each="time: ${grupo.getTimes()}">
                    <a class="dados-time" th:href="@{/time/{timeId}(timeId=${time.getId()})}">
                        <img th:src="'/img/times/'+${time.getImagem()}">
                        <span th:text="${time.getNome()}" ></span>
                        <a class="link-remover" th:href="@{/grupo/removerTime/{timeId}(timeId=${time.getId()})}">Remover</a>
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>
