<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/favicon.png" />
    <title>Tabela Copa do Mundo 2022</title>
    <link rel="stylesheet" href="../css/groups.css" />
</head>
<body>
<span id="topo"></span>

<main class="tela-principal">

    <header>
        <h1>Tabela da Copa do Mundo</h1>
        <h2>Catar 2022</h2>
    </header>

    <div class=""
    <button type="button" ></button>

    <!-- preenchida pelo js  -->
    <section class="listas"></section>

    <!-- modelo de listaDoGrupo
    <div class="modelo">
        <section class="listaDoGrupo">
            <h3 class="tituloDoGrupo">Grupo</h3>
            <ol class="listaDeSelecoes">
                <li><img class='bandeirap' src='../img/bandeiras/escudo_default.png' alt='bandeira' />
                    Nome da Seleção 1</li>
                <li><img class='bandeirap' src='../img/bandeiras/escudo_default.png' alt='bandeira' />
                    Nome da Seleção 2</li>
                <li><img class='bandeirap' src='../img/bandeiras/escudo_default.png' alt='bandeira' />
                    Nome da Seleção 3</li>
                <li><img class='bandeirap' src='../img/bandeiras/escudo_default.png' alt='bandeira' />
                    Nome da Seleção 4</li>
            </ol>
        </section>
        /modelo de listaDeGrupos -->


    <div class="inferiordireita">
        <a class="btn btn-topo" href="#topo">&UpArrow;</a>
    </div>
</main>
</body>
</html>
