<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link type="text/css" rel="stylesheet" href="../../css/login.css">
  <title>Cadastro</title>
</head>
<body>
<form class="form" th:action="@{/login}" method="post">
  <div class="card">
    <div class="card-top">
      <img class="imagem" src="../../img/brasilpersonagem.jpg" alt="">
      <h2 class="title">Começar login</h2>
      <p>Insira com os dados solicitados</p>
    </div>
    <div class="card-group">
      <label>Usuário</label>
      <input type=type="text" name="Usuário" alt="Coloque o usuário"/>
    </div>
    <div class="card-group">
      <label>Senha</label>
      <input type=type="text" name="Senha" alt="Coloque a senha"/>
    </div>
    <div class="card-group">
      <label class="switch">
        <span class ="">Admin</span>
      </label>
    </div>
    <div class="card-group">
      <button type="Acessar">Cadastrar</button>
    </div>
  </div>

</form>
</body>
</html>