<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="../../css/login.css">
    <title>Controlle de Acesso</title>
</head>
<body>
<div th:if="${param.error}">
    Senha ou Usuário inválido
</div>
<div th:if="${param.logout}">
    Você está desconectado
</div>


<form class="form" th:action="@{/login}" method="post">
    <div class="card">
        <div class="card-top">
            <img class="imagem" src="../../img/brasilpersonagem.jpg" alt="">
            <h2 class="title">Começar login</h2>
            <p>Iniciar Cadastro da Copa</p>
        </div>
        <div class="card-group">
            <label>Usuário</label>
            <input type=type="text" name="Usuário" alt="Coloque o usuário"/>
        </div>
        <div class="card-group">
            <label>Senha</label>
            <input type=type="text" name="Senha" alt="Coloque a senha"/>
        </div>

        <div class="switch">
            <label class="switch">
                <span class ="switch-text">Exibir senha</span>
                <div class = "switch-wrapper">
                    <input type="checkbox" name="watch"/>
                    <span class="switch-button"></span>
                </div>
            </label>
        </div>

        <div class="card-group btn">
            <button type="submit">Acessar</button>
        </div>
    </div>

</form>
</body>
</html>